:root {
  --gradient-content: linear-gradient(
    90deg,
    #C7C9CC 0%,
    #3D3D3D 100%
  );
}

.oferta {
  background: var(--gradient-content);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  display: inline-block;
}

.question {
  color: var(--content-brand);
}

.ajuda{
  display: flex;
  margin-top: 3.25rem;
}

.informacoes {
  margin-left: .5rem;
}

div > span {
  margin-top: .5rem;
  color: var(--content-brand);
}

p {
  width: calc(100% - 40%); 
}


h1 {
  margin-top: 1rem;
  width: calc(100% - 20%); 
}

