@import url(global.css);
@import url(info.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

header{
  margin-left: -1rem;
}

body {
  min-height: 100vh;

  background:
    linear-gradient(
      to bottom,
      #020202 0%,
      #020202 20%,
      rgba(2, 2, 2, 0.2) 120%,
      rgba(2, 2, 2, 0) 100%
    ),
    url("../assets/background.svg");

  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #020202;
}

.section {
  min-height: 100vh;

  padding: 5rem 8rem;

  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.info, .sorteio {
  width: 50%;
}

.container {
  display: flex;
  justify-content: space-between;

  margin: auto;

  width: 100%;
}

